.blog-container {

  h3, h4 {
    margin: 0;
  }

  .date-author {
    font-size: 14px;
    .date {
      color: $grey;
    }
    .author {
      color: $blue;
    }
  }

  .summary {
    margin: 0;
    list-style: none;
    padding: 0;

    .post {
      margin-top: 70px;

      h3, h4 {
        text-align: left;
      }

      h3 {
        margin-bottom: 10px;
      }
      h4 {
        margin-bottom: 20px;
      }

      .read-more-button {
        margin: 15px 0;
      }

    }

  }

  .post-single {
    h3 {
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 30px;
    }
    .date-author {
      text-align: center;
    }
    .content {
      margin-top: 80px;
    }
  }
}
