// Light = 300
// Regular = 400
// Bold = 700

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  .sm {
    font-size: 14px;
  }
}

h1,h2,h3,h4 {
  text-align: center;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.block {
  margin-bottom: 115px;
  h3 {
    margin-bottom: 60px;
  }
  .block-image {
    width: 100%;
    height: auto;
  }
}

// Override bootstrap container sizes
.container {
  @media (min-width: $screen-md-min) {
    width: $container;
  }
  @media (min-width: $screen-lg-min) {
    width: $container;
  }
}

.footer {
  height: 140px;
  .spiffy-logo {
    background-image: url('../images/spiffy-logo.png');
    width: 41px;
    height: 41px;
    display: block;
    margin: 0 auto;
  }
}
