// Light = 300
// Regular = 400
// Bold = 700

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  .sm {
    font-size: 14px;
  }
}

h1,h2,h3,h4 {
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

p {
  text-align: justify;
}

.container {
  @media (max-width: $screen-sm-min) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $screen-md-min) {
    width: $container; // Override bootstrap container sizes
  }

  @media (min-width: $screen-lg-min) {
    width: $container; // Override bootstrap container sizes
  }

  .row {
    .col {
      @media (max-width: $screen-sm-min) {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.block {
  margin-bottom: 110px;
  @media (max-width: $screen-sm-min) {
    margin-bottom: 80px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  h3 {
    margin-bottom: 60px;
  }
  .block-image {
    width: 100%;
    height: auto;
  }
}

.footer {
  height: 300px;
  padding-top: 120px;
  .spiffy-logo {
    background-image: url('../images/spiffy-logo.png');
    width: 41px;
    height: 41px;
    display: block;
    margin: 0 auto;

    @include retina {
      background-image: url('../images/spiffy-logo@2x.png');
      background-size: 41px 41px;
    }
  }
}
