{{ partial "header.html" . }}

<div class="landing-page">
  <h2 class="tagline">We make supply networks available to demand networks</h2>
  <div class="row block">
    <div class="col col-sm-6">
      <h5>Demand & B2B2C</h5>
      <p>
        Use our API for free to access millions of vehicles, you will have access to real time coordinates, availability and individual vehicle rates.
        <br><br>
        We work with passenger and parcel vehicles from acredited fleets.
	<br><br>
        Open Transport handles billing at your request for fees as low as 1% per transaction.
      </p>
    </div>
    <div class="col col-sm-6">
      <h5>Suppliers</h5>
      <p>
	You can be connected to every software worldwide with a beautiful and efficient API and receive work from every network directly into your dispatch system.
	<br><br>
	We are neither dispatch system nor handle dispatching. We let our demand users know the availability of vehicles and allow them to book those vehicles.
	</p>
    </div>
  </div>


  <div class="row block">
    <div class="col-md-2"></div>
    <div class="col col-md-8">
      <h3>Why we created Open Transport</h3>
      <p>
Taxi, car rental, parcel delivery, car sharing and self-driving are merging into one industry. We want to connect them all.
	 <br><br>
        Open Transport allows fleets to join forces and share reservations and vehicles, thereby helping them to  recrui tnew drivers, grow their operational area and get paid.
        <br><br>
        Open Transport vehicle availability will be free and decentralised using a public transport blockchain.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>
	
	
	<div class="row block">
    <div class="col-md-2"></div>
    <div class="col col-md-8">
      <h3>Blockchain</h3>
      <p>
We are building Open Transport to be an open database of vehicle locations using the Blockchain technology.	 <br><br>
        <br><br>
On phase 3 of Open Transport we will be raising funds with an ICO(Initial Coin Offering); we will be publishing our whitepaper with all the information about it soon. </p>
    </div>
    <div class="col-md-2"></div>
  </div>
	
	

  <div class="row block">
    <div class="col-md-2"></div>
    <div class="col col-md-8" id="contact" name="contact">
      <h3>How can I join this revolutionary project?</h3>
      <p>
        Write to us at <a href="mailto:hello@opentransport.org">hello@opentransport.org</a>
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>
{{ partial "footer.html" . }}
