{{ partial "header.html" . }}

<div class="landing-page">
  <h2 class="tagline">We make supply networks available to demand networks</h2>
  <div class="row block">
    <div class="col col-sm-6">
      <h5>Demand & B2B2C</h5>
      <p>
        Use our API for free to access millions of vehicles, you will have access to live coordinates, availability and individual vehicle rates.
        <br><br>
        We work with passenger, parcel transport vehicles and acredited fleets.
	<br><br>
        Open Transport handles billing at your request for fees as low as 1% per transaction.
      </p>
    </div>
    <div class="col col-sm-6">
      <h5>Suppliers</h5>
      <p>
	You can be connected to every software worldwide with a beatiful and efficient API and receive work from every network directly into your dispatch system.
	<br><br>
	We are not a dispatch system or handle dispatching. We let our demand users know the availability of vehicles and allow them to book those vehicles.
	</p>
    </div>
  </div>


  <div class="row block">
    <div class="col-md-2"></div>
    <div class="col col-md-8">
      <h3>Why did we create Open Transport</h3>
      <p>
Taxi, car rental, parcel delivery, car sharing and self-driving are merging into one industry. We want to connect them all.
	 <br><br>
        Open Transport allows fleets to join forces and share reservations and drivers, thereby helping them recruit new drivers, grow their operational area and get paid.
        <br><br>
        Open Transport vehicle availability will be free and decentralised using a public transport blockchain.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row block">
    <div class="col-md-2"></div>
    <div class="col col-md-8" id="contact" name="contact">
      <h3>How can I join this revolutionary project?</h3>
      <p>
        Write to us at <a href="mailto:hello@opentransport.org">hello@opentransport.org</a>
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>
{{ partial "footer.html" . }}
