{{ partial "header.html" . }}
<div class="landing-page">
  <h2 class="tagline">Open Transport builds tools, including web and mobile apps, for the transport and on-demand industries.</h2>

  <div class="row block">
    <div class="col col-sm-6">
      <h5>Drivers Network</h5>
      <p>
        When you acquire the Open Transport dispatch software and mobile apps, you can connect to a worldwide network of drivers or recruit new drivers for your business.
        <br><br>
        Currently, we only have drivers for passenger transportation available, however we are expanding to offer couriers and courier cyclists for food delivery, parcel delivery and furniture removal.
      </p>
    </div>

    <div class="col col-sm-6">
      <h5>Own your software</h5>
      <p>
        We know how important it is to create software that you can own and host on your own servers and that is exactly what we've done!
        <br><br>
        You can acquire the Open Transport platform and all it’s tools, which can be adapted to any industry that requires drivers in the field and deliveries.
      </p>
    </div>
  </div>

  <div class="infograph block">
    <h3>How does it work</h3>
    <div class="infograph-image"></div>
    <!-- <div>* <a href="#">Learn more about about Blockchain technology</a></div> -->
  </div>

  <div class="try-plataform row block">
    <div class="col-md-2"></div>
    <div class="col col-md-8">
      <h5>Try a platform that uses Open Transport</h5>
      <p>
        <br>
        The <a href="https://www.shiftdispatch.com/taxi-dispatch-system/" target="_blank">taxi dispatch system Shift</a> uses a bespoke version of Open Transport. Shift fleets can connect to each other and share reservations, they can share drivers and create beautiful apps and websites for their clients.
        <br><br>
        The system is available as a cloud service that allows you to connect white-label Passenger Apps (<a href="https://itunes.apple.com/us/app/blue-passenger/id989769893?ls=1&mt=8" target="_blank">iOS</a> / <a href="https://play.google.com/store/apps/details?id=com.blueandshift.shiftpassenger" target="_blank">Android</a>), Driver Apps (<a href="https://itunes.apple.com/us/app/shift-driver/id909006040?ls=1&mt=8" target="_blank">iOS</a> / <a href="https://play.google.com/store/apps/details?id=com.blueandshift.shiftdriver" target="_blank">Android</a>) and a <a href="http://demo.shiftdispatch.com" target="_blank">booking portal</a> with a UX that is second to none!
      </p>
    </div>
    <div class="col col-md-2"></div>
  </div>

  <div class="plataform-screenshot block">
    <div class="plataform-image"></div>
  </div>

  <div class="projects block">
    <h3>Projects using Open Transport</h3>
    <div class="row">
      <a class="col-md-4 col shift"  title="Shift" href="https://www.shiftdispatch.com/" target="_blank">
        <!-- <p class="sm">
          Lorem ipsum dolor sit amet, nam mutat choro praesent ad, eloquentiam eu eum, vix brute accommodare ex.
        </p> -->
      </a>
      <div class="col-md-4 col move" title="Move">
        <!-- <p class="sm">
          Lorem ipsum dolor sit amet, nam mutat choro praesent ad, eloquentiam eu eum, vix brute accommodare ex.
        </p> -->
      </div>
      <div class="col-md-4 col wheel" title="Wheel">
        <!-- <p class="sm">
          Lorem ipsum dolor sit amet, nam mutat choro praesent ad, eloquentiam eu eum, vix brute accommodare ex.
        </p> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col wundervan" title="Wunder Van">
        <!-- <p class="sm">
          Lorem ipsum dolor sit amet, nam mutat choro praesent ad, eloquentiam eu eum, vix brute accommodare ex.
        </p> -->
      </div>
      <div class="col-md-4 col electric" title="Electric">
        <!-- <p class="sm">
          Lorem ipsum dolor sit amet, nam mutat choro praesent ad, eloquentiam eu eum, vix brute accommodare ex.
        </p> -->
      </div>
      <div class="col-md-4 col estafette" title="Estafette">
        <!-- <p class="sm">
          Lorem ipsum dolor sit amet, nam mutat choro praesent ad, eloquentiam eu eum, vix brute accommodare ex.
        </p> -->
      </div>
    </div>

  </div>

  <div class="row block">
    <div class="col-md-2"></div>
    <div class="col col-md-8">
      <h3>Why did we create Open Transport</h3>
      <p>
        Uber and friends are monopolising the transport industries. These companies want to destroy regional and national businesses, and when successful pay less to drivers and charge clients more.
        <br><br>
        Open Transport allows fleets to join forces and share reservations and drivers, thereby helping them recruit new drivers, grow their operational area and get paid.
        <br><br>
        We generate our revenues from selling software and we never charge booking exchange fees. You own and host your software and can customise it to your industry and market.
        <br><br>
        Each software installation will connect using a public blockchain that is free and that we have no control over. Currently this connection is done using a proxy in the cloud but we are in the process of decentralisation using the public transport blockchain.
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row block">
    <div class="col-md-2"></div>
    <div class="col col-md-8" id="contact" name="contact">
      <h3>How can I acquire this revolutionary technology?</h3>
      <p>
        You can buy the software for €3,900 and receive the whole source code and an unrestricted license. You can then have your in-house technical team work on any customisation required.
        <br><br>
        Alternatively, we can install and customise your apps and system for a monthly fee.
        <br><br>
        Owning your technology will make your business more valuable as you are not dependent on a 3rd party provider and you can grow fast.
        <br><br>
        Write to us at <a href="mailto:hello@opentransport.org">hello@opentransport.org</a>
      </p>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>
{{ partial "footer.html" . }}
