{{ partial "header.html" . }}

<div class="collective-container row block">
  <div class="col-md-2"></div>
  <div class="col col-md-8">
    <div>
      {{ .Content }}
    </div>

    <div class="pics-container row block">

      {{ range (.Site.Params.devs) }}
        {{ $dev := . }}
        <div class="col col-md-3">
          <div class="photo-container">
            <div class="photo" style="background-image:url('{{if $dev.photo}}../../{{$dev.photo}}{{end}}')"></div>
          </div>
          <div class="name">{{ $dev.name }}</div>
          <div class="role">{{ $dev.role }}</div>
        </div>
      {{ end }}

    </div>
  </div>
  <div class="col col-md-2"></div>
</div>

{{ partial "footer.html" . }}
